@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLWkwNTk3OTY6RHppSDhPZUxKZ2FlRDdJZG5wakliR3NqeTMyRUlkbHo=
always-auth=true
